.foot-container {
    width: 100%;
    height: 100%;
    background-color: #06121e;
    position: relative; 
  }
  
  .footer-img {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  video {
    object-fit: contain;
    overflow: clip;
    overflow-clip-margin: content-box;
}

  .video-overlay {
    position: absolute;
    top: 97px;
    left: 180px;
    width: 76%;
    height: 80%;
    border-radius: 46px;
    object-fit: contain;
    z-index: 1;
}
  
  .footer-img img {
    display: block;
    width: 91%;
    height: 85%;
    z-index: 0;
  }
  .f-con {
    text-align: center;
    color: #fff;
    margin-top: 20px;
  }
  .f-con h2{
    font-size: 1.8rem;
    font-weight: 500;
  }

  
  .f-con p, .f-con h2 {
    margin: 5px 0;
  }
  
  /* Social Links */
  .social-links {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    column-gap: 10px;
  }
  
  .social-icons .linki {
    color: #fff;
    font-size: 34px;
    margin: 0 10px;
    
  }

  .copy-right-link {
    color: #e01f1d !important;
  }

  .footer-copyright {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  
  hr{
    width: 80%;
  }
  

  @media (max-width: 1350px){
    .video-overlay {
        position: absolute;
        top: 86px;
        left: 146px;
        width: 76%;
        height: 78%;
        border-radius: 47px;
        object-fit: contain;
        z-index: 1;
    }
  }
  @media (max-width: 1210px){
    .video-overlay {
        top: 84px;
        left: 143px;
    }
  }
  

  @media (max-width: 1160px){
    .video-overlay {
        top: 80px;
        left: 133px;
    }
  }

  @media (max-width: 1024px){
    .video-overlay {
        top: 76px;
        left: 123px;
        width: 76%;
        height: 78%;
    }
  }
  @media (max-width: 914px){
    .video-overlay {
        position: absolute;
        top: 64px;
        left: 109px;
        border-radius: 17px;
        
    }
  }
  @media (max-width: 805px){
    .video-overlay {
        position: absolute;
        top: 57px;
        left: 96px;
        border-radius: 17px;
        
    }
  }
  @media (max-width: 710px){
    .video-overlay {
        top: 49px;
        left: 84px;
    }
   
  }
  @media (max-width: 680px){
    .video-overlay {
        top: 49px;
        left: 77px;
    }
  }
  @media (max-width: 580px){
    .video-overlay {
        top: 38px;
        left: 65px;
    
    }
    
    .f-con h1{
        font-size: 20px;
    }

    .footer-copyright{
        font-size: 16px;
    }
  }
  @media (max-width: 480px){
    .video-overlay {
      top: 32px;
      left: 55px;
    }
  }

  @media (max-width: 420px){
    .video-overlay {
        top: 29px;
        left: 49px;
    }
  }
  @media (max-width: 370px){
    .video-overlay {
        top: 24px;
        left: 42px;
    }
  }