.logo-slider {
    width: 90%;
    height: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    overflow: hidden;
    display: flex;
    border: none;

}

.logo-con {
    display: flex;
    align-items: center;

}

.logo-con img {
    width: 50%;
    height: 120px;
    margin: 0 3px;
    padding: 5px;   
    transition: transform 0.3s, filter 0.3s; 
    /* filter: grayscale(100%); */
    display: flex;
    align-items: center;

}

.logo-con img:hover {
    transform: scale(1.1);
    /* filter: grayscale(0%); */
    cursor: pointer;
}


/* Add responsive styles */
@media screen and (max-width: 1024px) {
    
    .logo-con img{
        width: 84px;
        height: 81px;
        margin: 0 2px;
        padding: 4px;

    }
}

@media screen and (max-width: 768px) {
    .logo-slider{
        height: 60%;
    }
    .logo-con img {
        width: 80px;
        height: 70px;
        margin: 0 1px;
        padding: 3px;

    }
}

@media screen and (max-width: 480px) {
    .logo-con img {
        width: 85px;
        height: 85px;
        margin: 0 1px;
        padding: 2px;

    }
}