/* PortfolioDetails.css */

/* Container */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Portfolio Image */
  .portfolio-image {
    width: 60%;
    height: 40%;
    align-items: center;
    align-content: center;
    padding-top: 3%;
    padding-left: 20%;
  }
  
  /* Portfolio Info */
  .portfolio-info {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .portfolio-info h3 {
    font-size: 25px;
    /* color: #333; */
    color: #FC0606;
    padding-left: 3%;
  }
  
  .portfolio-info ul {
    list-style: none;
  }
  
  .portfolio-info ul li {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }

  @media (max-width: 768px){
    .portfolio-info h3 {
      padding-left: 6%;
    }
    .portfolio-image {
      width: 79%;
      height: 68%;
      padding-top: 5%;
      padding-left: 12%;
  }
  }
  