.contact-container{
    display: flex;
    flex-direction: column;
}
.con-head{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.con-head h2{
    color: #e01f1d;
}

.contact-contactbox-M2{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* column-gap: 20px; */
    row-gap: 30px;
}

.contact-box-b1{
    width: 23%;
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top-style: inset; 
    border-image: linear-gradient(to right, red, rgb(255, 204, 0));
    border-image-slice: 1;
    box-shadow: 0px 2px 2px 3px #c5c5c5;
    /* border-top-width: 5px; */
  
    
}
.contact-box-b1:hover{
    box-shadow: 8px 6px 6px 8px #c9c8c8;
}
.contact-icon-m1{
    font-size: 2.73em !important;
    align-items: center;
    margin-top: 20px;
    color: rgb(220, 221, 221);
    transition: color 0.3s ease; 
}

.contact-box-b1:hover .contact-icon-m1 {
    color: rgb(33, 4, 121);
}


.contact-box-b1 h1{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #e01f1d;
}

.contact-t2{
    margin-top: 20px;
    text-align: center;
    font-size: 1.11rempx;
}

/* .bl-1{
    margin-left: 10%;
} */
.bl-2{
    /* border-image: linear-gradient(to right, rgba(255, 225, 0, 0.807), rgb(216, 119, 22)); */
    border-image-slice: 1;
    
}

.bl-3{
    /* border-image: linear-gradient(to right, rgb(0, 170, 255), rgb(228, 228, 14)); */
    border-image-slice: 1;
  
    /* margin-right: 10%; */
}
.l1{margin-left: 0%;}

/* map */

.con-containt{
    /* width: 100%;
    height: 100%; */
    column-gap: 10px;
    padding: 5%;
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.box-map{
    margin-top: 45px;
    margin-bottom: 40px;
}
.google-m-2{
    width: 600px;
    height: 500px;
    border-radius: 5px;

}


/* contact form */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid rgb(138, 138, 138);
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    background-color: #e01f1d;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .contact-form button:hover {
    background-color: #ff4441;
  }

  .contact-form span {
    color: red; 
  }

  @media (max-width: 1024px) {
    .con-containt {
        row-gap: 20px;
         
    }

  }

@media (max-width: 768px) {
   
    .contact-contactbox-M2 {
        /* flex-direction: column; */
        align-items: center;
    }
        .contact-box-b1{
            height: 211px;
            width: 255px;
        }
        .contact-box-b1 h1{
            font-size: 1.1rem;
        }

      
        .contact-t2{
            font-size: 16px;
            
        }
        .lsc1{
           margin-left: 3px;
           font-size: 16px;
        }
        .google-m-2{
            margin-top: 10px;
            width: 400px;
            height: 400px;
            margin-bottom: 10px;
        }
        .con-containt{
            row-gap: 20px;
            padding-left: 6%;
        }

}

@media (max-width: 600px) {
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
      width: 100%;
    }
    
  }

  @media (max-width: 400px) {
    .google-m-2{
        margin-top: 10px;
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
    }
  }