* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-p{
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}

.section-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    color: #e01f1d;
  }
  .section-heading2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left: 11%;
    font-size: 1.4rem;
    color: #e01f1d;
  }
.home-banner{
    height: 90vh;
    width: 100%;
    background-color:#373737 ;
    
}
.Navbar1{
    z-index: 1;
}
.baneer-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 7%;
}

.main-para {
     font-size: 2.1rem;
     color: #fff;

}
.main-para span{
    font-size: 3.5rem;
    color: #FFCF03;
}

.img-container img {
    height: 415px;

}

.btn-1{
    padding-left: 8%;
    padding-bottom: 5%;
}

.slide-btn {
    display: inline-block;
    background: #373737 ;
    border-radius: 5px;
    padding: 17px 50px;
    color:#fff ;
    border: 1px solid #e01f1d;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    outline: 0;
    box-shadow: none;
    transition: 0.5s;
}

.slide-btn:hover{
    background-color:#e01f1d;
    border-color: #fff;
    transition: 0.5s;
}
/* contact-sec */
.contact-section{
    width: 100%;
    background-image: url(../../images/leaf-back.jpg);
    opacity: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23%;
    
}
.con-main-para{
    font-family: "Poppins", serif;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 400;
    color: #FFCF03;
    padding-top: 5%;
    padding-left:25% ;
}
.con-main-para p{
    color: #fff;
    font-size: 1.1rem;
}
.con-btn{
    display: inline-block;
    background: #e01f1d;
    border-radius: 5px;
    padding: 17px 50px;
    color:#fff ;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    outline: 0;
    box-shadow: none;
    transition: 0.5s;
}
.btn-2{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

/* about-sec */

.about-sec {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .pv-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
   
  }
  .pv-1 p{
    color: #888;
  }
  
  .pv-img1 {
    height: 250px;
    width: 384px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .ab-text {
    width: 100%;
    display: flex;
    text-align: center;
    /* padding-right: 20px; */
    flex-direction: column;
  }
  .ab-text h1{
    font-family: "Poppins", serif;
    width: 55vw;
    padding-left: 21%;
    font-size: 2.6rem;
    font-weight: 400;
  }
  .ab-text h3{
    font-family: "Playfair Display", serif;
    width: 31vw;
    font-size: 2rem;
    font-weight: 600;
  }
  .ab-text p{
    font-size: 1.2rem;
    width: 31vw;
  }
  
  .at {
    padding: 14px;
    color: #888;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 30px;
  }
  
/* service sec */
.service-sec{
    height: 100%;
    width: 100%;
    /* background-color: #e2e2e2; */
}

.ser-text {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 
  }
  .ser-text h1{
    font-family: "Poppins", serif;
    width: 45vw;
    padding-left:11%;
    font-size: 2.6rem;
    font-weight: 400;
  }
  .ser-text h3{
    width: 35vw;
    font-size: 2rem;
    font-weight: 600;
  }
  .ser-text p{
    font-size: 1.2rem;
    width: 40vw;
    padding-left: 11%;
    color: #2a2929;
  }
  
  .st {
    padding: 14px;
    color: #2c2b2b;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.8;
    margin-bottom: 40px;
  }
  .sv-1 {
    width: 77vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 12%;
    /* padding-top: 20px; */
   
  }
  .sv-img1 {
    height: 350px;
    width: 350px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.1));
    padding-left: 15%;
    margin-bottom: 10px;
    border-radius: 0px 15px 0px 15px;
    
  }

  .sv-img1:hover{
    transform: scale(1.2); 
    transition: 0.6s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
  }
  .sv-1 h3 {
    text-align: center;
  }
  .sv-1 a {
    display: flex;
    justify-content: center;
    color: #ffadad;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .sv-1 a:hover{
    color: #FC0606;
  }

  .sv-2 {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* padding-top: 20px; */
  }

  .sv-2 h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

  .sv-2 a {  
    display: flex;
    justify-content: center;
    color: #ffadad;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .sv-2 a:hover{
    color: #FC0606;
  }

  /* working tech */
  .wtech-sec{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 5%;
  }
  .wt-text {
    width: 100vw;
    display: flex;
    text-align: center;
    /* padding-right: 20px; */
    flex-direction: column;
  }

  .wt-text h1{
    font-family: "Poppins", serif;
    width: 60vw;
    padding-left: 18%;
    align-items: center;
    font-size: 2.6rem;
    font-weight: 400;
  }
  .wt-text h3{
    width: 30vw;
    font-size: 2rem;
    font-weight: 600;
  }
  .wt-text p{
    width: 31vw;
    font-size: 1.2rem;
  }
  .tech-container{
    display: flex;
    justify-content: center;
    flex-direction: row;

  }
  .wt-i{
    height: 200px;
    width: 200px;
  }

  /* who we are */

  .we-sec{
    background-image: url(../../images/leaf-back.jpg);
    opacity: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .head-p{
    font-family: "Poppins", serif;
    font-size: 52px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
  }

  .we-container {
    height: 70%;
    width: 65%;
    padding-bottom: 10px;
    border-radius: 10px;
    object-fit: contain;
    overflow: hidden; 
    position: relative;
  }
  
  .we-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  
  
 /* how we work */
   .hw-sec{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    padding-top: 3%;
   }
   .hw-sec h1{
    font-family: "Poppins", serif;
    width: 60%;
    padding-left: 20%;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 400;
   }
   .containt-hw {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    column-gap: 5px;
  }

   .hw-con{
    height: 140px;
    width: 375px;
    border: 0.8px solid rgb(80, 80, 80);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   .con1{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    padding-top: 4%;
   }
   .con-logo{
    height: 42px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: #ffc5ca;
   }
   .con1-name{
    font-size: 20px;
    font-weight: 700;
   }
   .con2{
    padding: 12px;
    text-align: center;
   }

   /* scroll btn */
   .scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s;
  }
  
  .scroll-top.show {
    display: flex;
  }
  
  .scroll-top:hover {
    opacity: 0.7;
  }





  @media (max-width: 1024px) {

    /* service-sec */
    /* .sv-1{
      padding-left: 10%;
    } */
    .st{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .ser-text h3 {
      width: 60vw;
      font-size: 1.5rem;
      font-weight: 600;
  }
  .sv-img1 {
    height: 259px;
    width: 269px;
    padding-left: 25%;
  }
  /* wtech-sec */

  .wt-i{
    height: 150px;
    width: 150px;
  }

  }


  @media (max-width: 914px) {
    /* about sec */
  
    .pv-img1 .pv-img2 {
      width: 250px;
    }
    /* wtech-sec */

  .wt-i{
    height: 120px;
    width: 120px;
  }
  .sv-1{
    padding-top: 30px;
  }
  .sv-2{
    padding-top: 50px;
  }


    
  }  


@media (max-width: 768px) {
    .home-banner{
        height: 70vh;
    }
    .img-container {
      display: none;
    }
    .main-container {
        height: 100%;
        width: 100%;
    }
    .baneer-con{
    padding-top: 27%;
    
   }
  .btn-1 {
    padding-left: 14%;
    padding-top: 5%;
   
   }
   .pv-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
  }

  /* about-sec */
  .at {
    width: 90%;
  }
  .ab-text{
    padding-top: 5%;
  }
  .ab-text h1{
    font-size: 2rem;
    
  }
  .ab-text h3{
     font-size: 2rem;
     font-weight: 600;
     padding-left: 30%;
  }
  .ab-text p{
    width: 75vw;
  }

  /* service-sec */
  .sv-img1 {
    padding-left: 5%;
  }
  .ser-text h1{
    font-size: 2rem;
  }
  /* wtech-sec */

  .wt-i{
    height: 120px;
    width: 120px;
  }
  .wt-text h1{
    font-size: 2rem;
  }



  }

  @media (max-width: 480px){
    .baneer-con{
        padding-top: 40%;
        
       }
   
    .main-para {
        font-size: 1.4rem;
        color: #fff;
   
   }
   .main-para span{
       font-size: 2.5rem;
       color: #FFCF03;
   }
   .btn-1 {
    padding-left: 10%;
    padding-top: 10%;
   }

   .con-main-para{
    font-size: 2.1rem;
   }
   .pv-img1 {
    height: 235px;
    width: 340px;

   }
   .ab-text h1 {
    width: 74vw;
    padding-left: 10%;
  }
   .ab-text p {
    width: 90vw;
}

   /* service-sec */
   .sv-img1 {
    height: 250px;
    width: 250px;
    padding-left: 0%;
  }
  .ser-text h3{
    padding-left: 5%;
  }
  .ser-text p {
    width: 60vw;
   
 }

   /* wtech-sec */

   .wt-i{
    height: 90px;
    width: 90px;
  }
   
  }
  